th{
    color: #374254;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #9DA5B1;
}
.data-table{
    width: 100%;
}

.text-left{
    text-align: left;
}
.data-table > tbody > tr > td{
    color: #374254;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px solid #9DA5B1;

}