.datatable{
    width: 100%;
    padding: 0 5px;
}
.datatable tr td,.datatable tr th {
    padding: 0.75rem;
}


.datatable tbody tr:hover{
    background-color: #eaeaea;
}
.management {
    text-align: right !important;
}
.col_index{
    width: 5%;
}
.toolbar_panel{
    float: right;
}
.toolbar_button{
    cursor: pointer;
    text-align: center;
    border: 1px solid var(--default-blue);
    padding: 10px;
    border-radius: 0.25rem;
    color: #fff;
    background-color: var(--default-blue);
}
